:root {
  --active-color: #FFB742;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: white;
  background-color: #212529;
  margin: 0;
}

.active-color {
  color: var(--active-color);
}

.secondary-text-color {
  color: #D4D4D4 !important;
}

.line-height-90 {
  line-height: 90px;
}

.title {
  width: fit-content;
  font-weight: 700;
  font-size: 48px;
  color: white;
  text-transform: capitalize;
}

.block-center {
  margin: 0 auto;
}

/* #region menu */
.menu {
  height: fit-content;
  color: white;
  display: flex;
  justify-content: space-between;
}

.menu__item {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 20px;
}

.menu__item__hover__1:hover {
  color: #FFB742;
}

.menu__item__hover__2:hover {
  background-color: #FFB742;
  color: black;
  border-radius: 2px;
}

/* #endregion */

/* #region header */
.header {
  width: 1342px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.header__img {
  width: 90px;
  height: 66px;
}

.header__menu {
  width: 429px;
}

.header__btn {
  width: 150px;
  height: 54px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFB742;
  border-radius: 50px;
  cursor: pointer;
}

/* #endregion */

/* #region main */
.main {
  padding: 0 40px;
  margin-bottom: 116px;
}

/* #region info */
.info {
  width: 100%;
}

/* #region info content */
.info__content {
  font-family: 'Inter', sans-serif;
  height: 460px;
  margin: 108px auto;
}

.info__content__item__1 {
  width: fit-content;
  margin: 0 auto;
}

.info__content__item__1__name {
  text-decoration: underline;
  color: #FFB742;
}

.info__content__item__3 {
  width: fit-content;
  font-weight: 400;
  font-size: 24px;
  margin: 30px auto;
  text-transform: capitalize;
}

.info__img {
  width: 210px;
  height: 223px;
  margin: 0 auto;
  background-color: #212529;
}

/* #endregion */

/* #region info experience */
.info__experience {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 130px;
}

.info__experience__block {
  width: 350px;
  height: 120px;
  padding: 0 30px;
  background-color: #292B2E;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}

.info__experience__block:hover {
  background-color: #FFB742 !important;
  color: black !important;
}

.info__experience__block:hover h2 {
  color: black !important;
}


.info__experience__block h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 0;
}

.info__experience__block p {
  font-size: 16px;
  line-height: 30px;
  margin-top: 0;
  font-weight: bolder;
}

.info__experience__block__title {
  text-align: center;
}

/* #endregion */

/* #region info about */
.info__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.info__about__block {
  width: 680px;
}

.info__about__block__1 {
  width: fit-content;
  border-radius: 10px;
  background-color: #292B2E;
  padding: 6px 25px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

.info__about h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

.info__about__text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #D4D4D4;
  margin-bottom: 50px;
}

/* #endregion */

/* #region imy__works */
.my__works {
  width: 1235px;
  margin: 0 auto;
}

.my__works__block__1 {
  margin-bottom: 30px;
}

.my__works__block__1 h1 {
  font-family: 'Roboto', sans-serif;
}

.my__works__menu {
  width: 652px;
  margin-bottom: 50px;
}

.my__works__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.my__works__images img:hover {
  box-shadow: 3px 3px 9px var(--active-color), -3px -3px 9px var(--active-color);
}

/* #endregion */
/* #endregion */
/* #endregion */

/* #region footer */
.footer {
  padding: 140px 50px 92px 50px;
  display: flex;
  justify-content: space-between;
  background-color: #1C1C1C;
}

.footer__block {
  width: 320px;
}

.footer__block h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

.footer__block h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
}

.footer__block p {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: #7B7B7B;
}

.footer__block p:hover {
  color: var(--active-color);
  cursor: pointer;
}

/* #endregion */